<div class="page-wrapper bg-gradient-to-br from-cyan-50 via-white to-teal-100">

  <!-- TOAST -->
  <div class="toast-wrapper" *ngIf="toastMessage">
    <div class="toast" [ngClass]="toastType">

      <div class="toast-icon">
        <span *ngIf="toastType === 'success'">✔</span>
        <span *ngIf="toastType === 'error'">⚠</span>
      </div>

      <div class="toast-content">
        {{ toastMessage }}
      </div>

      <button class="toast-close" (click)="closeToast()">✕</button>

    </div>
  </div>

  <!-- PAGE -->
  <div class="login-container">

    <div class="card">

      <!-- HEADER -->
      <div class="logo-box">
        <div class="icon">🎓</div>
        <h1>PrepExam AI</h1>
        <p>Create your account</p>
      </div>

      <h2 class="title">Register</h2>
      <p class="subtitle">Fill details to continue</p>

      <form [formGroup]="registerForm">

        <!-- FULL NAME -->
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" formControlName="fullName" placeholder="John Doe" />
        </div>

        <!-- DOB -->
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" formControlName="dob" />
        </div>

        <!-- MOBILE -->
        <div class="form-group">
          <label>Mobile Number</label>
          <div class="mobile-input">
            <span class="code">+91</span>
            <input type="tel" maxlength="10" formControlName="mobile" />
          </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="test@gmail.com" />
        </div>

        <!-- CITY -->
        <div class="form-group">
          <label>City</label>
          <input type="text" formControlName="city" placeholder="Chennai" />
        </div>

        <!-- OTP -->
        <div *ngIf="showOtp" class="form-group">

          <label>Enter OTP</label>

          <div class="otp-container">
            <input
              *ngFor="let box of otpBoxes; let i = index"
              type="text"
              maxlength="1"
              class="otp-box"
              (input)="onOtpInput($event, i)"
              (keydown)="onOtpKeyDown($event, i)"
            />
          </div>

          <div class="otp-row">
            <span class="demo-otp">Demo OTP: <b>1234</b></span>

            <button type="button" class="resend-btn" (click)="resendOtp()">
              Resend OTP
            </button>
          </div>

        </div>

        <!-- BUTTON -->
        <button type="button" class="primary-btn" (click)="showOtp ? verifyOtp() : sendOtp()">
          {{ showOtp ? 'Verify & Register' : 'Send OTP' }}
        </button>

      </form>

      <!-- LOGIN LINK -->
      <div class="auth-link">
        <span>Already have an account?</span>
        <a (click)="goToLogin()">Login</a>
      </div>

    </div>

  </div>

</div>
